mixin add-item-form()
  form.add-item-form(method="POST", action="")
    section
      strong
        =__("add-item.form.basic.header")
      .form-group.row
        label.col-sm-2.col-form-label(for='inputLocation')
          =__("add-item.form.location")
        .col-sm-10
          input#inputLocation.form-control(type='text',required='required')
      .form-group.row
        label.col-sm-2.col-form-label(for='inputCategory')
          =__("add-item.form.category")
        .col-sm-10
          input#inputCategory.form-control(type='text',required='required',name='category-id')
      fieldset.form-group
        .row
          legend.col-form-label.col-sm-2.pt-0
            =__("add-item.form.type-of-business")
          .col-sm-10
            .form-check
              input#sellingInput.form-check-input(type='radio', name='type-of-business', value='SALE', checked)
              label.form-check-label(for='sellingInput')
                =__("add-item.form.selling")
            .form-check
              input#byingInput.form-check-input(type='radio', name='type-of-business', value='PURCHASE')
              label.form-check-label(for='byingInput')
                =__("add-item.form.bying")
      fieldset.form-group.purchase-method-container
        .row
          legend.col-form-label.col-sm-2.pt-0
            = __("add-item.form.purchase-method")
          .col
            .form-check
              input#purchaseMethodCreditCard.form-check-input(type='checkbox', name='purchase-method', value='credit-card', checked=stripeActive, disabled=!stripeActive)
              label.form-check-label(for='purchaseMethodCreditCard')
                = __("add-item.form.credit-card")
            .form-check
              input#purchaseMethodContactSeller.form-check-input(type='checkbox', name='purchase-method', value='contact-seller', checked=!stripeActive)
              label.form-check-label(for='purchaseMethodContactSeller')
                = __("add-item.form.contact-seller")
      .form-group.row
        label.col-sm-2.col-form-label(for='inputExpire')
          =__("add-item.form.expires")
        .col-sm-10
          input#inputExpire.form-control(type='text',name='expires')
      .form-group.row
        label.col-sm-2.col-form-label(for="images")
          = __("add-item.form.images")
        .col-sm-10
          button.upload-add-file-button.btn.btn-success
            = __("add-item.form.add-image")
          input#images(aria-labelledby="images", type="file", multiple="multiple", name="file", data-max-file-size=maxFileSize, data-invalid-file-type=__("add-item.form.add-image-invalid-file-type-message"), data-file-size-too-big=__("add-item.form.add-image-file-size-too-big-message"), data-upload-fail-message=__("add-item.form.add-image-upload-failed-message"), data-remove-button-text=__("add-item.form.add-image-upload-remove-button-text"))
          input(type="hidden",name="images")
          .progress.upload-progress.mt-2
            .progress-bar(role="progressbar",aria-valuemin="0",aria-valuemax="100",aria-valuenow="0")
          .upload-files
    section
      strong
        =__("add-item.form.detail.header")
      .form-group.row
        label.col-sm-2.col-form-label(for='inputTitleFi')
          =__("add-item.form.titleFi")
        .col-sm-10
          input#inputTitle.form-control(type='text', required='required', name='title-fi')
        label.col-sm-2.col-form-label(for='inputTitleSv')
          =__("add-item.form.titleSv")
        .col-sm-10
          input#inputTitle.form-control(type='text', name='title-sv')
        label.col-sm-2.col-form-label(for='inputTitleEn')
          =__("add-item.form.titleEn")
        .col-sm-10
          input#inputTitle.form-control(type='text', name='title-en')
      .form-group.row
        label.col-sm-2.col-form-label(for='inputDescriptionFi')
          =__("add-item.form.descriptionFi")
        .col-sm-10
          textarea#inputDescription.form-control(row="4", required='required', name='description-fi')

        label.col-sm-2.col-form-label(for='inputDescriptionSv')
          =__("add-item.form.descriptionSv")
        .col-sm-10
          textarea#inputDescription.form-control(row="4", name='description-sv')

        label.col-sm-2.col-form-label(for='inputDescriptionEn')
          =__("add-item.form.descriptionEn")
        .col-sm-10
          textarea#inputDescription.form-control(row="4", name='description-en')
      fieldset.form-group
        .row
          legend.col-form-label.col-sm-2.pt-0
            =__("add-item.form.unit")
          .col-sm-10
            .form-check
              input#unitKgInput.form-check-input(type='radio', name='unit', value='kg', checked='')
              label.form-check-label(for='unitKgInput')
                =__("add-item.form.unit-kg")
            .form-check
              input#unitKplInput.form-check-input(type='radio', name='unit', value='kpl')
              label.form-check-label(for='unitKplInput')
                =__("add-item.form.unit-kpl")
            .form-check
              input#unitMInput.form-check-input(type='radio', name='unit', value='m')
              label.form-check-label(for='unitMInput')
                =__("add-item.form.unit-m")
            .form-check
              input#unitKmInput.form-check-input(type='radio', name='unit', value='km')
              label.form-check-label(for='unitKmInput')
                =__("add-item.form.unit-km")
            .form-check
              input#unitM2Input.form-check-input(type='radio', name='unit', value='m2')
              label.form-check-label(for='unitM2Input')
                =__("add-item.form.unit-m2")
            .form-check
              input#unitM3Input.form-check-input(type='radio', name='unit', value='m3')
              label.form-check-label(for='unitM3Input')
                =__("add-item.form.unit-m3")
            .form-check
              input#unitHourInput.form-check-input(type='radio', name='unit', value='hour')
              label.form-check-label(for='unitHourInput')
                =__("add-item.form.unit-hour")
            .form-check
              input#unitDayInput.form-check-input(type='radio', name='unit', value='day')
              label.form-check-label(for='unitDayInput')
                =__("add-item.form.unit-day")
      .form-group.row
        label.col-sm-2.col-form-label(for='inputAmount')
          =__("add-item.form.amount")
        .col-sm-10
          input#inputAmount.form-control(type='text', required='required', name="amount")
      .form-group.row
        label.col-sm-2.col-form-label(for='inputPricePerUnit')
          =__("add-item.form.unitPrice")
        .col-sm-10
          input#inputPricePerUnit.form-control(type='text', required='required', name="unit-price")
      fieldset.form-group.delivery-methods-container
        .row
          legend.col-form-label.col-sm-2.pt-0
            = __("add-item.form.delivery-methods")
          .col
            .form-check
              input#allowDelivery.form-check-input(type='checkbox', name='allow-delivery', value='true')
              label.form-check-label(for='allowDelivery')
                = __("add-item.form.allow-delivery")
            .form-check
              input#allowPickup.form-check-input(type='checkbox', name='allow-pickup', value='true')
              label.form-check-label(for='allowPickup')
                = __("add-item.form.allow-pickup")
      .form-group.row.delivery-price-container
        label.col-sm-2.col-form-label(for='inputDeliveryPrice')
          =__("add-item.form.delivery-price")
        .col-sm-10
          input#inputDeliveryPrice.form-control(type='text', name="delivery-price")
      .form-group.row.delivery-time-container
        label.col-sm-2.col-form-label(for='deliveryTime')
          =__("add-item.form.delivery-time")
        .col-sm-10
          input#deliveryTime.form-control(type='number', step="1", name="delivery-time")
      .form-group.row.terms-of-delivery-container
        label.col-sm-2.col-form-label(for='termsOfDelivery')
          =__("add-item.form.terms-of-delivery")
        .col-sm-10
          textarea#termsOfDelivery.form-control(row="4", name='terms-of-delivery')
      .form-group.row
        label.col-sm-2.col-form-label(for='contactEmail')
          =__("add-item.form.contact-email")
        .col-sm-10
          input#contactEmail.form-control(type='email', name="contact-email", value=userEmail)
      .form-group.row
        label.col-sm-2.col-form-label(for='contactPhone')
          =__("add-item.form.contact-phone")
        .col-sm-10
          input#contactPhone.form-control(type='text', name="contact-phone")
      .form-group.row
        label.col-sm-2.col-form-label(for='contactBusinessName')
          =__("add-item.form.contact-businessname")
        .col-sm-10
          input#contactBusinessName.form-control(type='text', name="contact-businessname", value=businessDetails.name)
      .form-group.row
        label.col-sm-2.col-form-label(for='contactBusinessCode')
          =__("add-item.form.contact-businesscode")
        .col-sm-10
          input#contactBusinessCode.form-control(type='text', value=businessDetails.code, name="contact-businesscode", required)
    .row
      .col.text-right.pt-3
        button.btn.btn-warning.continue-btn
          =__("add-item.form.continue.button")

