mixin item-info(item, currentLocale)
  .item-info
    if hasManagementPermission
      .row
        .col
          a(href="/update/item/"+item.id).btn.btn-primary.float-right
            i.fas.fa-cogs
          button.btn.btn-danger.float-right.delete-item-button(data-item-id=item.id, data-success-message=__("item-delete.success-message"), data-prompt-message=__("item-delete.prompt"), data-yes-button-text=__("item-delete.yes-btn-text"), data-no-button-text=__("item-delete.no-btn-text"))
            i.fas.fa-trash-alt
    .row
      .col-lg-5
        if item.images.length
          .result-img(style="background-image: url("+ item.images[0].url +");")
            .result-sm-imgs
              each image, index in item.images
                .result-sm-img(style="background-image: url("+ image.url +");")

      .col.pt-2
        h2
          = _LS(item.title)
        strong
          = _LS(categoryMap[item.categoryId].title)
        p
          b
            =item.unitPrice.price + " " + item.unitPrice.currency
          = " / " + __("search-results.unit")
        .result-details
          p
            = __("search-results.in-stock")
            | 
            b
              if itemsLeft > 0
                = " " + itemsLeft + " " + item.unit
              else
                span.out-of-stock
                  = __("search-results.out-of-stock")
          p
            = __("search-results.location")
            b
              = " " + _LS(location.name)
          p
            = _LS(item.description)
        if !onlyContactSellerPurchases && itemsLeft > 0
          p
            = __("item.purchase.units") 
            span.ml-2
            input.product-units(type="number",step=1,min=1,max=itemsLeft, required=true,placeholder=__("item.purchase.units-placeholder"))
          if allowPurchaseCreditCard
            button.btn.btn-primary.buy-btn(disabled=true)
              = __("item.purchase.creditCardButton")
        if allowPurchaseContactSeller
          p
            b
              i
                if onlyContactSellerPurchases
                  = __("item.purchase-allowed-only-by-contacting-seller")
                else
                  = __("item.purchase-allowed-also-by-contacting-seller")
      .col-4.col-sm-2.pt-2
        .result-side-details
          p
            =item.date
            br
            =item.time
          p.item-location
            img.location-icon(src="/gfx/icons/location-icon-small.png")
            =item.location
  input.stripe-details(type="hidden",value=stripeDetails)