mixin item-info(item, currentLocale)
  .item-info
    if hasManagementPermission
      .row
        .col
          button.btn.btn-success.float-right.sell-item-button(title=__("item-sell.button-title"), data-item-id=item.id, data-prompt-message=__("item-sell.prompt"), data-yes-button-text=__("item-sell.yes-btn-text"), data-no-button-text=__("item-sell.no-btn-text"))
            i.fas.fa-balance-scale
          a(title=__("item-edit.button-title"), href="/update/item/"+item.id).btn.btn-primary.float-right
            i.fas.fa-cogs
          button.btn.btn-danger.float-right.delete-item-button(title=__("item-delete.button-title"), data-item-id=item.id, data-success-message=__("item-delete.success-message"), data-prompt-message=__("item-delete.prompt"), data-yes-button-text=__("item-delete.yes-btn-text"), data-no-button-text=__("item-delete.no-btn-text"))
            i.fas.fa-trash-alt
    .row
      .col-lg-5
        if item.images.length
          .result-img(style="background-image: url("+ item.images[0].url +");")
            .result-sm-imgs
              each image, index in item.images
                .result-sm-img(style="background-image: url("+ image.url +");")
        else
          .result-img(style="background-image: url(/gfx/image-placeholder.png);")

      .col.pt-2
        h2
          = _LS(item.title)
        h5
          = item.typeOfBusiness === "SALE" ? __("item-type-of-business-selling-text") : __("item-type-of-business-bying-text")
        strong
          = _LS(categoryMap[item.categoryId].title)
        if item.unitPrice.price
          p
            b
              =item.unitPrice.price + " " + item.unitPrice.currency + " ( alv 24% )"
            = " / " + item.unit
        .result-details
          if item.typeOfBusiness == "SALE"
            p
              = __("search-results.in-stock")
              | 
              b
                if itemsLeft > 0
                  = " " + itemsLeft + " " + item.unit
                else
                  span.out-of-stock
                    = __("search-results.out-of-stock")
          else
            p
              = __("search-results.buy-amount")
              | 
              b
                if itemsLeft > 0
                  = " " + itemsLeft + " " + item.unit
                else
                  span.out-of-stock
                    = __("search-results.out-of-stock")
          if item.businessName
            p
              = __("search-results.businessName")
              b
                = " " + item.businessName
          if item.businessCode
            p
              =item.businessName
          p
            = _LS(item.description)
          if item.contactEmail
            p
              i.fas.fa-envelope-open
              =" " + item.contactEmail
          if item.contactPhone
            p
              i.fas.fa-phone
              =" " + item.contactPhone
          if item.typeOfBusiness === "SALE"
            p
              b
                =__("item.purchase.delivery")
            if item.allowPickup
              .form-check
                input#pickupInput.form-check-input(type='radio', name='delivery-method', value='pickup')
                label.form-check-label(for='pickupInput')
                  =__("item.purchase.delivery.pickup")
            if item.allowDelivery
              .form-check
                input#deliveryInput.form-check-input(type='radio', name='delivery-method', value='delivery')
                label.form-check-label(for='deliveryInput')
                  =__("item.purchase.delivery.delivery")
                  span
                    -var deliveryPrice = item.deliveryPrice ? item.deliveryPrice : null;
                    if deliveryPrice
                      =" ( "+ deliveryPrice.price+" "+deliveryPrice.currency+" )"
            if item.termsOfDelivery
              p.mt-2
                b
                  =__("item.purchase.deliveryterms")
                br
                =item.termsOfDelivery
          if item.typeOfBusiness === "SALE" && !onlyContactSellerPurchases && itemsLeft > 0
            p
              = __("item.purchase.units") 
              span.ml-2
              input.product-units(type="number",step=1,min=1,max=itemsLeft, required=true,placeholder=__("item.purchase.units-placeholder"))
            if allowPurchaseCreditCard
              button.btn.btn-primary.buy-btn(disabled=true, data-user-email=userEmail)
                = __("item.purchase.creditCardButton")
          if allowPurchaseContactSeller
            p
              b
                
                  if onlyContactSellerPurchases
                    = __("item.purchase-allowed-only-by-contacting-seller")
                  else
                    = __("item.purchase-allowed-also-by-contacting-seller")
      .col-4.col-sm-2.pt-2
        .result-side-details
          p
            =moment(item.createdAt).format("DD.MM.YYYY")
            br
            =moment(item.createdAt).format("H:MM")
          p.item-location
            img.location-icon(src="/gfx/icons/location-icon-small.png")
            =" " + _LS(location.name)
          if item.expiresAt
            small
              =__("item.expireslabel")
              br
              =moment(item.expiresAt).format("DD.MM.YYYY H:MM")
  input.stripe-details(type="hidden",value=stripeDetails)