mixin update-item-form()
  form.add-item-form(method="POST", action="")
    input(type="hidden", id="itemIdInput", value=item.id)
    section
      strong
        =__("add-item.form.basic.header")
      .form-group.row
        label.col-sm-2.col-form-label(for='inputLocation')
          =__("add-item.form.location")
        .col-sm-10
          input#inputLocation.form-control(type='text',required='required', value=_LS(location.name))
      .form-group.row
        label.col-sm-2.col-form-label(for='inputCategory')
          =__("add-item.form.category")
        .col-sm-10
          input#inputCategory.form-control(data-initial-value=JSON.stringify(itemCategory) type='text',required='required',name='category-id')
      if item.typeOfBusiness == "SALE"
        fieldset.form-group
          .row
            legend.col-form-label.col-sm-2.pt-0
              = __("add-item.form.purchase-method")
            .col
              .form-check
                input#purchaseMethodCreditCard.form-check-input(type='checkbox', name='purchase-method', value='credit-card', checked=allowPurchaseCreditCard, disabled=!stripeActive)
                label.form-check-label(for='purchaseMethodCreditCard')
                  = __("add-item.form.credit-card")
              .form-check
                input#purchaseMethodContactSeller.form-check-input(type='checkbox', name='purchase-method', value='contact-seller', checked=allowPurchaseContactSeller)
                label.form-check-label(for='purchaseMethodContactSeller')
                  = __("add-item.form.contact-seller")
      .form-group.row
        label.col-sm-2.col-form-label(for='inputExpire')
          =__("add-item.form.expires")
        .col-sm-10
          input#inputExpire.form-control(type='text',name='expires' value=item.expiresAt)
      .form-group.row
        label.col-sm-2.col-form-label(for="images")
          = __("add-item.form.images")
        .col-sm-10
          button.upload-add-file-button.btn.btn-success
            = __("add-item.form.add-image")
          input#images(aria-labelledby="images", type="file", multiple="multiple", name="file", data-max-file-size=maxFileSize, data-invalid-file-type=__("add-item.form.add-image-invalid-file-type-message"), data-file-size-too-big=__("add-item.form.add-image-file-size-too-big-message"), data-upload-fail-message=__("add-item.form.add-image-upload-failed-message"), data-remove-button-text=__("add-item.form.add-image-upload-remove-button-text"))
          input(type="hidden",name="images")
          .progress.upload-progress.mt-2
            .progress-bar(role="progressbar",aria-valuemin="0",aria-valuemax="100",aria-valuenow="0")
          .upload-files
      .form-group.row
        .col-sm-2.col-form-label
        .col-sm-10
          ul.list-group
            each image in item.images
              li.item-previous-image-container.list-group-item.d-flex.justify-content-between.align-items-center(data-image=JSON.stringify(image))
                a(href=image.url, target="_blank")
                  =image.url
                span.badge.badge-danger.badge-pill.remove-existing-img
                  i.fas.fa-trash-alt
    section
      strong
        =__("add-item.form.detail.header")
      .form-group.row
        label.col-sm-2.col-form-label(for='inputTitleFi')
          =__("add-item.form.titleFi")
        .col-sm-10
          input#inputTitle.form-control(type='text', required='required', name='title-fi' value=getValueByLangAndType(item.title, 'fi', 'SINGLE'))
        label.col-sm-2.col-form-label(for='inputTitleSv')
          =__("add-item.form.titleSv")
        .col-sm-10
          input#inputTitle.form-control(type='text', name='title-sv', value=getValueByLangAndType(item.title, 'sv', 'SINGLE'))
        label.col-sm-2.col-form-label(for='inputTitleEn')
          =__("add-item.form.titleEn")
        .col-sm-10
          input#inputTitle.form-control(type='text', name='title-en', value=getValueByLangAndType(item.title, 'en', 'SINGLE'))
      .form-group.row
        label.col-sm-2.col-form-label(for='inputDescriptionFi')
          =__("add-item.form.descriptionFi")
        .col-sm-10
          textarea#inputDescription.form-control(row="4", required='required', name='description-fi')
            =value=getValueByLangAndType(item.description, 'fi', 'SINGLE')
        label.col-sm-2.col-form-label(for='inputDescriptionSv')
          =__("add-item.form.descriptionSv")
        .col-sm-10
          textarea#inputDescription.form-control(row="4", name='description-sv')
            =value=getValueByLangAndType(item.description, 'sv', 'SINGLE')
        label.col-sm-2.col-form-label(for='inputDescriptionEn')
          =__("add-item.form.descriptionEn")
        .col-sm-10
          textarea#inputDescription.form-control(row="4", name='description-en')
            =value=getValueByLangAndType(item.description, 'en', 'SINGLE')
      fieldset.form-group
        .row
          legend.col-form-label.col-sm-2.pt-0
            =__("add-item.form.unit")
          .col-sm-10
            .form-check
              input#unitKgInput.form-check-input(type='radio', name='unit', value='kg', checked=item.unit=='kg')
              label.form-check-label(for='unitKgInput')
                =__("add-item.form.unit-kg")
            .form-check
              input#unitKplInput.form-check-input(type='radio', name='unit', value='kpl', checked=item.unit=='kpl')
              label.form-check-label(for='unitKplInput')
                =__("add-item.form.unit-kpl")
            .form-check
              input#unitMInput.form-check-input(type='radio', name='unit', value='m', checked=item.unit=='m')
              label.form-check-label(for='unitMInput')
                =__("add-item.form.unit-m")
            .form-check
              input#unitKmInput.form-check-input(type='radio', name='unit', value='km', checked=item.unit=='km')
              label.form-check-label(for='unitKmInput')
                =__("add-item.form.unit-km")
      .form-group.row
        label.col-sm-2.col-form-label(for='inputAmount')
          =__("add-item.form.amount")
        .col-sm-10
          input#inputAmount.form-control(type='text', required='required', name="amount", value=item.amount)
      .form-group.row
        label.col-sm-2.col-form-label(for='inputPricePerUnit')
          =__("add-item.form.unitPrice")
        .col-sm-10
          input#inputPricePerUnit.form-control(type='text', required=item.typeOfBusiness === "SALE", name="unit-price", value=item.unitPrice.price)
      if item.typeOfBusiness == "SALE"
        fieldset.form-group
          .row
            legend.col-form-label.col-sm-2.pt-0
              = __("add-item.form.delivery-methods")
            .col
              .form-check
                input#allowDelivery.form-check-input(type='checkbox', name='allow-delivery', value='true' checked=item.allowDelivery)
                label.form-check-label(for='allowDelivery')
                  = __("add-item.form.allow-delivery")
              .form-check
                input#allowPickup.form-check-input(type='checkbox', name='allow-pickup', value='true' checked=item.allowPickup)
                label.form-check-label(for='allowPickup')
                  = __("add-item.form.allow-pickup")
      if item.typeOfBusiness == "SALE"
        .form-group.row
          label.col-sm-2.col-form-label(for='inputDeliveryPrice')
            =__("add-item.form.delivery-price")
          .col-sm-10
            input#inputDeliveryPrice.form-control(type='text', name="delivery-price" value=item.deliveryPrice ? item.deliveryPrice.price : "")
      if item.typeOfBusiness == "SALE"
        .form-group.row
          label.col-sm-2.col-form-label(for='deliveryTime')
            =__("add-item.form.delivery-time")
          .col-sm-10
            input#deliveryTime.form-control(type='number', step="1", name="delivery-time", value=item.deliveryTime)
      if item.typeOfBusiness == "SALE"
        .form-group.row
          label.col-sm-2.col-form-label(for='termsOfDelivery')
            =__("add-item.form.terms-of-delivery")
          .col-sm-10
            textarea#termsOfDelivery.form-control(row="4", name='terms-of-delivery')
              =item.termsOfDelivery
      .form-group.row
        label.col-sm-2.col-form-label(for='contactEmail')
          =__("add-item.form.contact-email")
        .col-sm-10
          input#contactEmail.form-control(type='email', name="contact-email", value=item.contactEmail)
      .form-group.row
        label.col-sm-2.col-form-label(for='contactPhone')
          =__("add-item.form.contact-phone")
        .col-sm-10
          input#contactPhone.form-control(type='text' name="contact-phone", value=item.contactPhone)
      .form-group.row
        label.col-sm-2.col-form-label(for='contactBusinessName')
          =__("add-item.form.contact-businessname")
        .col-sm-10
          input#contactBusinessName.form-control(type='text' name="contact-businessname", value=item.businessName)
      .form-group.row
        label.col-sm-2.col-form-label(for='contactBusinessCode')
          =__("add-item.form.contact-businesscode")
        .col-sm-10
          input#contactBusinessCode.form-control(type='text' name="contact-businesscode", value=item.businessCode, required)
    .row
      .col.text-right.pt-3
        button.btn.btn-warning.continue-btn
          =__("add-item.form.continue.button")

